body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #000000;
  --magenta: #80475e;
  --white: #ffffff;
}

/* saw I might need this for the svg I am borrowing */
svg * {
  vector-effect: non-scaling-stroke;
}

#dice_bag {
  width: 50%;
  height: 50%;
  margin-top: 50px;
}

.shake_animation {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.roll_item {
  list-style-type: none;
  background-color: #ffffff;
  padding: 3px;
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
